<article 
    class="container my-2 py-3"
    typeof="https://data.vlaanderen.be/id/concept/AardWetgeving/Decreet" 
    resource={{@article.article.value}}
>
    <h6 class="title text-secondary" property="http://data.europa.eu/eli/ontology#title">
        Decreet {{@article.title.value}}
    </h6>
    Url: 
    <a 
        rel="http://data.europa.eu/eli/ontology#is_realized_by" 
        href={{@article.published.value}} 
        target="_blank"
    >
        {{@article.published.value}}
    </a>
    <summary class="row justify-content-between align-items-center">
        <cite class="col-6">
            <a  class="view-modal" 
                data-bs-toggle="modal" 
                data-bs-target="#detailsModal" 
                href={{@article.article.value}}
                itemid={{@article.itemid.value}} 
                data-pub={{@article.date.value}}
            >
                Article details &rarr;
            </a>
        </cite>
        <p class="mb-1 publication-date col-6 text-end">
        Date published:
            <time property="http://data.europa.eu/eli/ontology#date_publication" datetime={{@article.date.value}} class="d-block text-success">
                {{@article.date.value}}
            </time>
        </p>
    </summary>
</article>